.disabled-link {
    pointer-events: none;
    /* Menonaktifkan klik */
    opacity: 0.6;
    /* Mengurangi kecerahan untuk memberi tahu pengguna bahwa link tidak aktif */
}

.status-label {
    display: inline-block;
    width: 124px;
    height: 28px;
    padding: 4px 6px;
    border-radius: 8px 8px 8px 8px;
    opacity: 1;
  }