<div class="absolute inset-y-0 left-2 top-2 right-0 pl-64 pr-4 pt-14 overflow-y-auto ">
    <div class="flex flex-column sm:flex-row flex-wrap space-y-4 sm:space-y-0 items-center justify-between pb-2">
        <!-- Breadcrumb -->
        <nav class="flex px-5 py-3 text-gray-700"
            aria-label="Breadcrumb">
            <ol class="inline-flex items-center space-x-1 md:space-x-2 rtl:space-x-reverse">
                <li aria-current="page">
                    <div class="flex items-center">
                        <span class="ms-1 text-sm font-medium text-gray-500 dark:text-gray-400">Laporan</span>
                    </div>
                </li>
            </ol>
        </nav>
    </div>
    <div class="flex flex-col items-start"> <!-- Adjusted -->
        <p class="text-black text-2xl font-semibold mb-4 ms-6">Daftar Laporan</p>
    </div>
    <div class="flex flex-column sm:flex-row flex-wrap space-y-4 sm:space-y-0 items-center justify-between pb-4 ms-6">
        <label for="table-search" class="sr-only">Search</label>
        <div class="relative">
            <div class="absolute inset-y-0 left-0 rtl:inset-r-0 rtl:right-0 flex items-center ps-3 pointer-events-none">
                <svg class="w-5 h-5 text-gray-500 dark:text-gray-400" aria-hidden="true" fill="currentColor"
                    viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd"
                        d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z"
                        clip-rule="evenodd"></path>
                </svg>
            </div>
            <input type="text" [(ngModel)]="searchText"
                class="block p-2 ps-10 text-sm text-gray-900 border border-gray-300 rounded-lg w-80 bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                placeholder="Search">
        </div>
        <select [(ngModel)]="selectedStatus" (change)="onChangeStatus()" name="" id=""
            class="text-gray-900 border border-gray-300 rounded-lg w-auto bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
            <option value=0>Semua Status</option>
            <option *ngFor="let filter of statusList, let i = index" [value]="i+1">{{ filter }}</option>
        </select>
    </div>

    <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400 ms-6">
        <thead class="text-xs text-[#6B788E] bg-[#F5F6F7] dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th scope="col" class="px-6 py-3">
                    <div class="flex items-center">
                    ID
                        <button (click)="sortDataByReportCounts(0)">
                            <svg class="w-3 h-3 ms-1.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24">
                                <path d="M8.574 11.024h6.852a2.075 2.075 0 0 0 1.847-1.086 1.9 1.9 0 0 0-.11-1.986L13.736 2.9a2.122 2.122 0 0 0-3.472 0L6.837 7.952a1.9 1.9 0 0 0-.11 1.986 2.074 2.074 0 0 0 1.847 1.086Zm6.852 1.952H8.574a2.072 2.072 0 0 0-1.847 1.087 1.9 1.9 0 0 0 .11 1.985l3.426 5.05a2.123 2.123 0 0 0 3.472 0l3.427-5.05a1.9 1.9 0 0 0 .11-1.985 2.074 2.074 0 0 0-1.846-1.087Z"/>
                            </svg>
                        </button>
                    </div>
                </th>
                <th scope="col" class="px-6 py-3">
                    <div class="flex items-center">
                        Nomor Rekening
                        <button (click)="sortDataByReportCounts(1)">
                            <svg class="w-3 h-3 ms-1.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24">
                                <path d="M8.574 11.024h6.852a2.075 2.075 0 0 0 1.847-1.086 1.9 1.9 0 0 0-.11-1.986L13.736 2.9a2.122 2.122 0 0 0-3.472 0L6.837 7.952a1.9 1.9 0 0 0-.11 1.986 2.074 2.074 0 0 0 1.847 1.086Zm6.852 1.952H8.574a2.072 2.072 0 0 0-1.847 1.087 1.9 1.9 0 0 0 .11 1.985l3.426 5.05a2.123 2.123 0 0 0 3.472 0l3.427-5.05a1.9 1.9 0 0 0 .11-1.985 2.074 2.074 0 0 0-1.846-1.087Z"/>
                            </svg>
                        </button>
                    </div>
                </th>
                <th scope="col" class="px-6 py-3">
                    <div class="flex items-center">
                        Jumlah Laporan
                        <button (click)="sortDataByReportCounts(2)">
                            <svg class="w-3 h-3 ms-1.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24">
                                <path d="M8.574 11.024h6.852a2.075 2.075 0 0 0 1.847-1.086 1.9 1.9 0 0 0-.11-1.986L13.736 2.9a2.122 2.122 0 0 0-3.472 0L6.837 7.952a1.9 1.9 0 0 0-.11 1.986 2.074 2.074 0 0 0 1.847 1.086Zm6.852 1.952H8.574a2.072 2.072 0 0 0-1.847 1.087 1.9 1.9 0 0 0 .11 1.985l3.426 5.05a2.123 2.123 0 0 0 3.472 0l3.427-5.05a1.9 1.9 0 0 0 .11-1.985 2.074 2.074 0 0 0-1.846-1.087Z"/>
                            </svg>
                        </button>
                    </div>
                </th>
                <th scope="col" class="px-6 py-3">
                    <div class="flex items-center">
                        Status
                        <button (click)="sortDataByReportCounts(3)">
                            <svg class="w-3 h-3 ms-1.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24">
                                <path d="M8.574 11.024h6.852a2.075 2.075 0 0 0 1.847-1.086 1.9 1.9 0 0 0-.11-1.986L13.736 2.9a2.122 2.122 0 0 0-3.472 0L6.837 7.952a1.9 1.9 0 0 0-.11 1.986 2.074 2.074 0 0 0 1.847 1.086Zm6.852 1.952H8.574a2.072 2.072 0 0 0-1.847 1.087 1.9 1.9 0 0 0 .11 1.985l3.426 5.05a2.123 2.123 0 0 0 3.472 0l3.427-5.05a1.9 1.9 0 0 0 .11-1.985 2.074 2.074 0 0 0-1.846-1.087Z"/>
                            </svg>
                        </button>
                    </div>
                </th>
                <th scope="col" class="px-6 py-3">
                    <div class="flex items-center">
                        Assignee
                    </div>
                </th>
                <th scope="col" class="px-6 py-3">
                    <span class="">Action</span>
                </th>
            </tr>
        </thead>
        <tbody *ngIf="this.filtered_report.length > 0; else noData">
            <tr *ngFor="let item of filtered_report | search: searchText | paginate: { currentPage: currentPage, itemsPerPage: itemsPerPage };" class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                <ng-container>
                    <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                        {{item.reported_account_id}}
                    </th>
                    <td class="px-6 py-4">
                        {{item.account_number}}
                    </td>
                    <td class="px-6 py-4">
                        {{item.reports_count}}
                    </td>
                    <td class="px-6 py-4">
                        <span *ngIf="item.status == 1"
                            class=" bg-gray-100 text-gray-500 status-label text-center p-2">Dilaporkan</span>
                        <span *ngIf="item.status == 2"
                            class="bg-[#FFF6E6] text-[#FFA500] status-label text-center p-2">Investigasi</span>
                    </td>
                    <td class="px-6 py-4">
                        {{item.admin}}
                    </td>
                    <td class="px-6 py-4">
                        <a [routerLink]="'/detail-laporan/' + item.reported_account_id"
                        *ngIf="item.status == 1" class="text-[#1869F4] bg-[#E8F0FE] rounded-full px-6 py-2">Detail</a>
                        <a [routerLink]="'/detail-laporan-investigasi/' + item.reported_account_id" *ngIf="item.status == 2"
                        class="text-[#1869F4] bg-[#E8F0FE] rounded-full px-6 py-2"
                            [style.pointer-events]="getAdminId() != item.admin_id ? 'none' : 'auto'"
                            [style.opacity]="getAdminId() != item.admin_id ? 0.3 : 1" (click)="getAdminId() == item.admin_id">
                            Detail
                        </a>
                    </td>
                </ng-container>
            </tr>
        </tbody>
        <ng-template #noData>
            <tbody>
                <tr>
                    <td colspan="6" class="text-center py-4">Data tidak ditemukan</td>
                </tr>
            </tbody>
        </ng-template>
    </table>
    <pagination-controls class="flex mt-4 justify-end" (pageChange)="onPageChange($event)"></pagination-controls>
</div>